// VARIABLES

// colors
$primary-color: #1e1e1f;
$secondary-color: #fdc300;
$third-color: #312e33;
$fourth-color: #ffce54;

// fonts
$primary-font: "Source Sans Pro";
$secondary-font: "adelleregular";
$third-font: "Graduate";
$fourth-font: "rankone";

// animations
$ease-in: cubic-bezier(0.88, 0.04, 0.84, 0.57);
