//  HEADER
.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  transition: 500ms;

  nav {
    display: flex;
    padding: 0 60px 0 60px;
    width: 1090px;

    // nav brand
    .nav__brand {
      flex-basis: 35%;

      & img {
        height: 35px;
      }
    }

    // nav bar
    .nav__bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 65%;

      // menu
      &__menu {
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: transform 300ms ease-in-out;

        & ul {
          display: flex;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 0.5px;
          font-size: 20px;

          & li {
            position: relative;
            margin: 0px 12px;

            & div {
              user-select: none;
              font-family: $secondary-font;
              color: white;
              cursor: pointer;

              & svg {
                margin-right: 25px;
                display: none;
              }

              & a {
                user-select: none;
                font-family: $secondary-font;
                color: white;
                text-decoration: none;

                &:hover {
                  color: lighten($secondary-color, 25%);
                }
              }

              &:hover {
                color: lighten($secondary-color, 25%);
              }
            }

            & ul {
              position: absolute;
              left: -60%;
              top: 48px;
              width: 180px;
              background-color: $secondary-color;
              z-index: 1000;
              display: none;
              flex-flow: column;
              text-transform: uppercase;
              font-weight: 500;
              letter-spacing: 0.5px;
              font-size: 1rem;
              border: 2px solid #545454;

              & li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                text-align: center;
                margin: 0;

                a {
                  font-family: $primary-font;
                  color: $primary-color;
                }
              }
            }
          }

          & li:last-child {
            margin-right: 0;
          }
        }
      }

      // hamburger icon
      &__hamburger {
        display: none;
        z-index: 10000;
        cursor: pointer;
        outline: none;
        position: relative;
        background-color: transparent;
        border: 0px;
        border-color: transparent;
        margin-left: 30px;
        animation: open-close-burger 300ms ease-in-out;

        // hamburger line
        &__line {
          display: block;
          background-color: white;
          height: 3px;
          width: 25px;
          margin-bottom: 7px;
          transition: transform 150ms ease-in-out;
        }

        & span:first-child {
          position: relative;
          margin-top: 7px;
        }

        &:hover .nav__bar__hamburger__hover-left {
          position: relative;
          transform: translateX(5px);
          transition-delay: 100ms;
        }

        &:hover .nav__bar__hamburger__hover-right {
          position: relative;
          transform: translateX(-5px);
        }
      }
    }
  }
}

.header--yellow {
  background-color: $secondary-color;
  & nav {
    & .nav__bar {
      &__menu {
        & ul {
          & li {
            & div {
              color: $primary-color !important;

              & a {
                color: $primary-color !important;
              }
            }
            & ul {
              background-color: $primary-color;
              & li {
                a {
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

// for jQuery : menu change animation when scrolling
.sticky__menu {
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: calc(100vw - 17px);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $primary-color;
  box-shadow: 1px 1px 25px lighten($primary-color, 10);
  transition: 300ms ease-in-out;
}

// for jQuery : menu change animation when scrolling
.sticky__menu--yellow {
  z-index: 101;
  position: fixed;
  top: 0px;
  width: calc(100vw - 17px);
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $secondary-color;
  transition: 300ms ease-in-out;
}

// for jQuery : change color on hamburger:hover
@keyframes open-close-burger {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav__bar__hamburger__line__yellow {
  background-color: $secondary-color !important;
  animation: open-close-burger 300ms ease-in-out;
}

// for jQuery : show menu when hamburger is cliked
.nav__bar__menu__show {
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  // right: 0px !important;
}

// for jQuery : when menu is on, haburger is fixed
.nav__bar__hamburger__fixed {
  position: fixed !important;
}

// submenu on/off

.submenu--bar__list--hide {
  display: none !important;
}

.submenu--bar__list--show {
  display: flex !important;
}
