// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  //
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .header {
    nav {
      .nav__bar {
        &__menu {
          display: flex;
          justify-content: center;
          flex-flow: column;
          height: 100vh;
          width: 100vw;
          position: fixed;
          top: 0px;
          right: -100vw;
          background-color: $primary-color;

          & ul {
            align-self: flex-start;
            flex-flow: column;
            font-size: 25px;
            width: 100%;
            & li {
              padding: 25px 0 25px 60px;
              & div {
                display: flex;
                justify-content: flex-start;
                color: $secondary-color;
                & svg {
                  display: block;
                }
                & a {
                  color: $secondary-color;
                }
              }
              & ul {
                background-color: transparent;
                border: transparent;
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
                padding-top: 15px;
                & li {
                  text-transform: initial;
                  padding: 0 0 0 50px;
                  justify-content: flex-start;
                  background-color: rgba(0, 0, 0, 0) !important;
                  a {
                    color: $secondary-color;
                    font-style: italic;
                  }
                }
              }
            }
            & li:nth-child(2n + 2) {
              background-color: $third-color;
            }
          }
        }
        // hamburger icon
        &__hamburger {
          display: block !important;
        }
      }
    }
  }

  // Header Yellow
  .header--yellow {
    & nav {
      // nav abr
      & .nav__bar {
        // nav bar menu
        &__menu {
          & ul {
            & li {
              & div {
                color: $secondary-color !important;
                & a {
                  color: $secondary-color !important;
                }
              }
            }
          }
        }
        // hamburger
        &__hamburger {
          &__line {
            background-color: $primary-color;
          }
        }
      }
    }
  }

  // for jQuery : change color on hamburger:hover
  @keyframes open-close-burger {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .nav__bar__hamburger__line__yellow {
    background-color: $secondary-color !important;
    animation: open-close-burger 300ms ease-in-out;
  }

  // for jQuery : show menu when hamburger is cliked
  .nav__bar__menu__show {
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
  }

  // for jQuery : when menu is on, hamburger is fixed
  .nav__bar__hamburger__fixed {
    position: fixed !important;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  //
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  //
}
