// CONTACT

.contact {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: $primary-color;
  margin: 48px 0;

  @media (max-width: 768px) {
    max-width: 768px;
  }

  // container
  &__container {
    z-index: 10;
    background-color: $secondary-color;
    display: flex;
    width: 1090px;
    padding: 40px;

    @media (max-width: 768px) {
      flex-flow: column;
    }

    // information
    &__info {
      display: flex;
      flex-flow: column;
      flex-basis: 40%;
      padding-right: 1rem;

      // social
      &__social {
        padding-bottom: 25px;

        & div {
          & a {
            color: $primary-color;
          }
        }

        @media (max-width: 768px) {
          display: flex;
          flex-flow: column;
          text-align: center;
          padding-bottom: 30px;
        }

        // icon
        &__icon {
          font-size: 1.2rem;
          padding-right: 1rem;

          &:last-child {
            padding-right: 0px;
          }
        }
      }

      // adress
      &__adress {
        padding-bottom: 25px;

        @media (max-width: 768px) {
          text-align: center;
          padding-bottom: 30px;
        }

        & p {
          margin-bottom: 7px;

          @media (max-width: 768px) {
            font-size: 0.93rem;
          }
        }
      }

      // schedule
      &__schedule {
        @media (max-width: 768px) {
          text-align: center;
          padding-bottom: 50px;
        }

        & p {
          margin-bottom: 7px;

          @media (max-width: 768px) {
            font-size: 0.93rem;
          }
        }
      }
    }

    // formulaire
    &__form {
      display: flex;
      flex-basis: 60%;
      flex-flow: column;

      & input,
      & textarea {
        outline: none;
      }

      // first row (name & email)
      &__name-email {
        display: flex;
        justify-content: space-between;

        @media (max-width: 650px) {
          flex-direction: column;
          justify-content: center;
        }

        // both input (name & email)
        input {
          flex-basis: 100%;
          height: 20px;
          padding: 20px 10px;
        }

        // input name
        &__input-name {
          margin-right: 20px;

          @media (max-width: 650px) {
            margin-right: 0;
          }
        }

        // input email
        &__input-email {
          @media (max-width: 650px) {
            margin-top: 20px;
          }
        }
      }

      // sujet
      &__subject {
        display: flex;
        margin-top: 20px;

        input {
          flex-basis: 100%;
        }
      }

      // message
      &__message {
        display: flex;
        flex-basis: 100%;
        margin-top: 20px;
        position: relative;

        textarea {
          flex-basis: 100%;
        }

        .secondary-button {
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }
}
