.evennement {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__selection {
    position: relative;
    width: 1090px;
    display: flex;
    align-self: center;
    margin-top: 48px;

    & div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      max-width: calc((100% - 96px) / 3);
      flex: calc((100% - 96px) / 3);
      background-color: $secondary-color;
      margin-right: 48px;
      cursor: pointer;

      & p {
        user-select: none;
        margin-left: 30px;
        color: $primary-color;
        font-family: $third-font;
        font-size: 30px;
        text-transform: uppercase;
      }

      & .arrow {
        margin-right: 30px;
      }
    }

    & .evennement__selection__dropdown {
      z-index: 99;
      display: none;
      position: absolute;
      width: 100%;
      top: 96px;
      flex-direction: column;
      width: 100%;

      & p {
        width: 100%;
        align-self: center;
        font-family: $primary-font;
        font-size: 21px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        margin-left: 0;
        background-color: $secondary-color;

        &:hover {
          background-color: $fourth-color;
          transition: 180ms ease-in-out;
        }
      }
    }
  }

  &__grid {
    width: 1090px;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__event {
      display: flex;
      position: relative;
      z-index: 50;
      overflow: hidden;
      position: relative;
      height: 350px;
      margin-top: 48px;
      max-width: calc((100% - 96px) / 3);
      flex: calc((100% - 96px) / 3);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      transition: 150ms ease-in-out;

      &__informations {
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        & p {
          display: flex;
          align-self: flex-start;
          font-family: $third-font;
          color: $secondary-color;
          text-transform: uppercase;
          background-color: $primary-color;
          margin-bottom: 10px;
          padding: 8px;
        }

        & p:first-child {
          margin-top: 16px;
        }
      }

      & a {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
    }

    &__event:nth-child(1) {
      background-image: url("../img/planning/020718.jpg");
    }

    &__event:nth-child(2) {
      background-image: url("../img/planning/030718.jpg");
    }

    &__event:nth-child(3) {
      background-image: url("../img/planning/040718.jpg");
    }

    &__event:nth-child(4) {
      background-image: url("../img/planning/050718.jpg");
    }

    &__event:nth-child(5) {
      background-image: url("../img/planning/060718.jpg");
    }

    &__event:nth-child(6) {
      background-image: url("../img/planning/070718.jpg");
    }

    &__event:nth-child(7) {
      background-image: url("../img/planning/090718.jpg");
    }

    &__event:nth-child(8) {
      background-image: url("../img/planning/100718.jpg");
    }

    &__event:nth-child(9) {
      background-image: url("../img/planning/110718.jpg");
    }
  }
}
