.categories__title--panier {
  padding-top: 0;
}

.panier {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding-top: 48px !important;

  &__categories {
    width: 1090px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 48px;

    &__commande {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      background-color: #e9e9e9;
      padding: 30px;
      margin-top: 24px;

      & p {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 21px;
      }

      &__name {
        flex-basis: 20%;
      }

      &__size {
        flex-basis: 10%;
      }

      &__information {
        flex-basis: 50%;
        text-align: left;
      }

      &__price {
        text-align: center;
        flex-basis: 10%;
      }

      &__remove {
        flex-basis: 10%;
        position: relative;

        & span {
          cursor: pointer;
          position: absolute;
          left: 50%;
          top: 50%;
          background-color: $primary-color;
          width: 25px;
          height: 5px;
          border-radius: 50px;
        }

        & span:first-child {
          transform: rotate(45deg);
        }

        & span:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
