.product {
  display: flex;
  align-self: center;
  width: 1090px;
  margin: 48px 0;

  &__image {
    position: relative;
    flex: 1 1 calc((100% - 48px) / 2);
    height: 480px;
    background-image: url("/img/products/casquettenoir/casquettenoir.jpg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 150ms ease-in-out;

    &__thumbnails {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-self: center;

      &__thumbnail {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: 0 16px;
      }

      &__thumbnail:nth-child(1) {
        background-image: url("/img/products/casquettenoir/casquettenoir.jpg");
      }

      &__thumbnail:nth-child(2) {
        background-image: url("/img/products/casquettenoir/casquettenoir--2.jpg");
      }

      &__thumbnail:nth-child(3) {
        background-image: url("/img/products/casquettenoir/casquettenoir--3.jpg");
      }
    }
  }

  &__informations {
    position: relative;
    flex: 1 1 calc((100% - 48px) / 2);
    height: 480px;
    & p {
      margin-bottom: 20px;
    }
    &__title {
      text-transform: uppercase;
      font-family: $third-font;
    }
    &__color {
      text-transform: uppercase;
    }
    &__price {
      color: $secondary-color;
      text-transform: uppercase;
      font-family: $third-font;
    }
    &__sizes {
      margin-top: 48px;
      & span {
        cursor: pointer;
        margin: 0 7px;
      }
    }

    & .primary-button {
      background-color: $primary-color;
      text-align: center;
      left: 0;
      width: 150px;
    }

    & .primary-button:hover {
      background-color: $secondary-color;
    }
  }
}
