.findteam-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/findteam--bg.jpg);
  // background-image: url(../img/findteam--bg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  & .pagination {
    margin: 0;
    padding: 48px 0;
  }
}

.findteam {
  display: flex;
  flex-direction: column;
  // TITLE
  & .categories__title--findteam {
    & h2 {
      color: $secondary-color;
    }
  }

  // LIST
  &__list {
    width: 1090px;
    align-self: center;
    display: flex;
    flex-direction: column;
    &__row {
      display: flex;
      padding: 24px;
      background-color: rgba(255, 255, 255, 0.05);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      & p {
        display: flex;
        font-size: 21px;
        color: white;
        text-align-last: left;
      }
      & p:nth-child(1) {
        width: 45%;
      }
      & p:nth-child(2) {
        text-align: center;
        width: 35%;
      }
      & p:nth-child(3) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 10%;
        & .fa-comment-alt {
          color: $secondary-color;
          margin-right: 12px;
        }
      }
      & p:nth-child(4) {
        display: flex;
        justify-content: flex-end;
        width: 10%;
      }
    }

    &__row:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}
